<!DOCTYPE html>
<html lang="en">
<head>
  <title>ETF Momentum Analysis Report</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="description" content="ETF Analysis">
  <meta name="keywords" content="etf,analysis,momentum>"
</head>
<style>
#customers {
  font-family: "Play", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: right;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
<body>
  <article>
    <h2>ETF Momentum Analysis by #AsenaTradeBot www.gokhankocak.com</h2>
    <table id="customers">
      <tr>
        <th>Date</th>
        <th>Symbol</th>
        <th>Name</th>
        <th style="text-align:right">233d</th>
        <th style="text-align:right">144d</th>
        <th style="text-align:right">84d</th>
        <th style="text-align:right">55d</th>
        <th style="text-align:right">34d</th>
        <th style="text-align:right">21d</th>
        <th style="text-align:right">13d</th>
        <th style="text-align:right">8d</th>
        <th style="text-align:right">5d</th>
        <th style="text-align:right">3d</th>
      </tr>
      <tr>
        <td>2018-08-18</td>
        <td>This is a symbol</td>
        <td>This is a name</td>
        <td style="text-align:right">12</td>
        <td style="text-align:right">-9</td>
        <td style="text-align:right">220</td>
        <td style="text-align:right">122</td>
        <td style="text-align:right">342</td>
        <td style="text-align:right">211</td>
        <td style="text-align:right">132</td>
        <td style="text-align:right">8</td>
        <td style="text-align:right">5</td>
        <td style="text-align:right">322</td>
      </tr>
    </article>
  </body>
  </html>
